# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# project specific
.env
/config.json
eslint.config.mjs
cspell.json
.eslintrc.json
